@import "nativescript-theme-core/css/core.light.css";

/* Your CSS goes here */



.icon {
    horizontal-align: center;
    background-repeat : no-repeat;
    background-position : left center;
}

.speechit {
    max-width: 40px
}

.fab-button {
    height: 50;
    width: 50;
    /*margin: 55 20;*/
    color: #FFF;
    background-color: #ff4081;
    horizontal-align: right;
    vertical-align: bottom;
    transition: all .3;
}


@keyframes smallTraslation {
    from { transform: translateY(0); }
    to { transform: translateY(-75); }
}

.to-my-location {
    height: 50;
    width: 50;
    margin: 20 10;
    color: #2d2d2d;
    background-color:#FFF;
    horizontal-align: right;
    vertical-align: bottom;
    transform: translateY(0);
    animation-name: smallTraslation;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
.to-my-location.small {
    transform: translateY(-75);
    animation-name: smallTraslation;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.to-my-location.detail {
    visibility: collapsed;
}

.cardStyle {
    background-color: #ffffff;
    color: #0d0d0d;
    height: 0;
    width: 100%;
    vertical-align: bottom;    
}

.cardStyleDetail {
    height: 75%;
}

@keyframes smallHeight {
    from { height: 0; }
    to { height: 80; }
}

.cardStyleSmall {
    height: 80;
}

.info {
    font-weight: bold;
    margin: 10 5 5 20;
    font-size: 20;
}

.detail {
    margin: 0 20;
    font-size: 12;
}
