@import "nativescript-theme-core/css/core.light.css";

/* Your CSS goes here */



.fab-button {
    height: 75;
    width: 75;
    margin: 25;
    color: #FFF;
    background-color: #ff4081;
    horizontal-align: right;
    vertical-align: bottom;
}